<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Konsta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="wrap">
    <%= render "layouts/header" %>
    
    <section class="main container">
      <%= yield %>
    </section>
  </div>

  <%= render "layouts/footer" %>
</body>
</html>
